$primary-color: rgba(36, 33, 69, 1);
$secondary-color: rgba(249, 248, 243, 1);
$on-bg-footer: rgba(185, 181, 201, 1);
$primary-link-color: rgba(255, 208, 43, 1);
$white: rgba(255, 255, 255, 1);
$hero-cover: rgba(30, 27, 58, 0.65);
$text-color: rgba(95, 93, 117, 1);
$breakpoint-md: 768px;
$breakpoint-ds-md: 1920px;
$display-large: 56px;
$body-large: 18px;
$medium: 500;
$size-3: 24px;

.hero {
  background:
    linear-gradient($hero-cover, $hero-cover),
    url('../../assets/hero-cover.png') no-repeat center center;
  background-size: cover;
  width: 100%;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: $hero-cover;
  padding: 30px;
}

.hero_wrapper {
  width: 100%;
  max-width: 378px;
  gap: $size-3;

  @media (min-width: #{$breakpoint-ds-md}) {
    margin: 0 150px;
    max-width: 1620px;
  }
}

.hero_content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
  border: 2px solid $primary-color;
  background-color: $secondary-color;
  border-radius: 12px;
  box-shadow: 4px 4px 0px 0px $primary-color;
  filter: drop-shadow(4px 4px 0px 0px $primary-color);
  width: 100%;
  max-width: 343px;

  @media (min-width: #{$breakpoint-md}) {
    max-width: 480px;
  }

  @media (min-width: #{$breakpoint-ds-md}) {
    max-width: 640px;
  }
}

.hero_title {
  color: $primary-color;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;

  @media (min-width: #{$breakpoint-ds-md}) {
    font-size: $display-large;
  }
}

.hero_text {
  font-size: 12px;
  font-weight: $medium;
  line-height: 1.5;
  color: $text-color;

  @media (min-width: #{$breakpoint-ds-md}) {
    font-size: $display-large;
    font-size: $body-large;
    line-height: 1.5;
  }
}

.browse_btn {
  display: inline-flex;
  align-items: center;
  color: $primary-color;
  background-color: $primary-link-color;
  padding: 8px 16px;
  text-decoration: none;
  border: 2px solid $primary-color;
  border-radius: 8px;
  max-width: 140px;
}
