// global heading h2
.wrapper {
  display: flex;
  padding: 16px;
  background-color: rgba(249, 248, 243, 1);
}

.global-heading {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: transparent;
}

.pre-heading {
  width: 8px;
  height: 24px;
  border: 1.5px solid rgba(36, 33, 69, 1);
  border-radius: 4px;
  background-color: rgba(255, 208, 43, 1);
}

.global-heading h2 {
  color: rgba(36, 33, 69, 1);
  font-size: 24px;
  font-weight: 700;
  line-height: 100%;
}
